/*css za navbar*/
.nav {
  background: #c78283;
  color: white;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}
  
.nav__title{
  background: #c78283;
  margin: 0px 30px;
}

.nav__item{
  background: #c78283;
  display: inline-block;
  margin: 0px 30px;
  
  color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
}
.nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: solid 2px #fff;
}
.nav input[type=text]:focus {
   
  border: none;
}
.dugmePretraga {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #c78283;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: #fff;
}
 
.dugmePretraga:hover{
  background-color: #df9899;
}
::placeholder{
  color: #fff;
}



